/* Place to put all HTMX specific CSS styles without touching tailwind styles */

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .htmx-settling img {
    opacity: 0;
  }
  img {
   transition: opacity 300ms ease-in;
  }